@import url('https://fonts.cdnfonts.com/css avenir');                
#principal{
    width: 1440px;
    height: 1204px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
}
#texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 100px;
}
main{
    font-family: 'Avenir', sans-serif;
}
body{
    background-color: grey;
}
h1{
    font-size: 88px;
}
.right{
    width: 526px;
}
button{
    border: 0px;
    border-radius: 16px;
    width: 157px;
    height: 50px;
    background-color: rgba(37, 37, 37, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
}
img{
    padding: 100px 50px ;
}

